#tutorial_button{
    color: yellow;
    background-color: grey;
    width: 100px;
    height: 2em;
    position: absolute;
    top: calc(62% + 20px); 
    left: 50%; 
    transform: translateX(-50%);
    border-radius: 5px;
}

#tutorial_button:hover{
    background-color: lightgrey;
}

#tutorial-text{
    text-align: center;
}
.instruction-paragraph{
    text-align: left;
    padding: 30px;
}
#tutorial-box{
    width: 700px; 
    height: 500px; 
    background-color: rgb(173, 173, 173);
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    border-radius: 10px;
}

/*Ricky's Coding Portion*/

#play_button {
  width: 250px; 
  height: 100px; 
  font-family: 'Chiller', sans-serif;
  font-size: 20px; 
  padding: 10px; 
  border-radius: 10px; 
  cursor: pointer; 
  position: absolute;
  top: 50%;
  left: 43%;
  background-color: #fac678;
}

#title_heading {
  position: absolute;
  top: 10%;
  left: 36%;
  font-family: Impact, Arial Black, sans-serif;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(to right, #ff8c00, #ff0000); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#play_button:hover{
  background-color: #ddbce8;
  color: whitesmoke;
}


body {
 /*background-color: aliceblue;*/
 background-image: url('carImg.png');
 background-size: cover;
}


/*background-image: url('Background.jpg');*/
/*background-image: url('../Driving-Simulator/Data/Background.jpg');*/
