#tutorial_button:hover{
    background-color: lightgrey;
}

#tutorial-text{
    text-align: center;
}
.instruction-paragraph{
    text-align: left;
    padding: 30px;
}
#tutorial-box{
    width: 700px; 
    height: 500px; 
    background-color: rgb(173, 173, 173);
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    border-radius: 10px;
}

#controls{
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: rgb(247, 85, 85);
  border: 2px solid black;
}

#play_button, #tutorial_button {
  display: block; 
  margin-bottom: 10px; 
  right: -10%;
  bottom: -7%;
  background-color: #fac678;
  color: black;
  font-family: 'Chiller', sans-serif;
  font-size: 20px; 
  width: 200px; 
  height: 100px; 
  position: relative;
  border-radius: 10px; 
  padding: 10px; 
  cursor: pointer; 
}

/*Ricky's Coding Portion*/

#title_heading {
  position: absolute;
  white-space: nowrap;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-family: Impact, Arial Black, sans-serif;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(to right, #ff8c00, #ff0000); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#play_button:hover{
  background-color: #ddbce8;
  color: whitesmoke;
}


body {
 /*background-color: aliceblue;*/
 
 background-image: url('carImg.png');
 background-size: cover;
}


/*background-image: url('Background.jpg');*/
/*background-image: url('../Driving-Simulator/Data/Background.jpg');*/
*
{
    margin:0;
    padding:0;
}
.hero
{
    height:100vh;
    width:100%;
    background-image:url(sky.jpg);
    background-size:contain;
    background-position:center;
    position:relative;
    overflow-x:hidden;
}

.highway
{ 
  height: 120px;
  width: 500%;
  display: block;
  background-image: url(road.jpg);
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
  z-index: 1;
  animation: highway 5s linear infinite;
  

}
@keyframes highway 
{
    100%{
        transform: translateX(-2400px);
    }
}

.city
{ 
    height:260px;
    width:500%;
    background-image:url(city.png);
    position:absolute;
    bottom:-10px;
    left: 0;
    right: 0;
    display: block;
    z-index:1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite
}
@keyframes city 
{
    100%{
         transform: translateX(-1400px);
    }
    
}



.car
{ 
    height:200px;
    position:absolute;
    bottom:-80px;
    left: 50%;
    z-index:2;
    transform: translateX(-50%);
}
.car img
{
   width: 100%
}

@keyframes car {
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(-1px);
  }
  0%{
    transform: translateY(-1px);
  }
}
.wheel
{
  height:230px;
  position:absolute;
  bottom:-100px;
  left: 50%;
  z-index:2;
  transform: translateX(-50%);
}
.wheel img
{
   width: 100px;
   height: 100px;
   animation: wheel 1s linear infinite;
}
.back-wheel
{
  left:-250px;
  position:absolute;
}
.front-wheel
{
  left:140px;
  position:absolute;
}
@keyframes wheel {
  100%{
    transform: rotate(360deg);
  }
}

.quiz-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 50%; /* Adjust this value as needed */
  left: 50%; /* Adjust this value as needed */
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure the quiz is rendered on top of the animation */
}

#choices {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

img {
  width: 300px;
  height: 200px;
}

#result {
  margin-top: 10px;
}
